@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.crazy
{
    height: 600px;
    background-image: url(../photos/crazy.png);
    width: 100vw;
}
.right-container{
    color: #FFFFFF;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 50px;
  
    
}
.crazy1{
    font-weight: 700;
    font-size: 32px;
    line-height: 41.2px;
    font-family: "Volkhov", serif;
    color: #FFFFFF;
    margin-bottom: 30px;
    
}

.explore{
    color: #FF9413;
}
.crazy2{
    font-weight: 500px;
    font-size: 32px;
    line-height: 30px;
    font-family: "Poppins",sans-serif;
    color: #FFFFFF;
}
.one1{
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.one-left{
  width: 50vw;
}
.one-right{
  width: 50vw;
  text-align: center;
  
}
.image1{
   height: 300px;
   padding-left: 30px;
   background-image: url(../photos/deer.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   border-radius: 10px;
   margin-left: 30px;
}
.history{
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    margin-top: 30px;
    padding-right: 30px;
}
.image2{
    height: 300px;
   padding-left: 30px;
   background-image: url(../photos/tiger2.png);
   background-size: contain;
   background-repeat: no-repeat;
   border-radius: 10px;
   margin-left: 30px;
}
.two{
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.two-left{
    width: 50vw;
}
.two-right{
    width: 50vw;
    text-align: center;
}